.card{
    border: 2px solid black;
    width:70%;
    margin-left:200px;
    margin-top:50px;
    text-align: center;
}
.card-container{
    font-weight: bold;
    border-bottom: 1px solid black;
    font-size:25px;
    color:brown;
    height:50px;
    margin-top:10px;
}

.card-content{
    height:100px;
    text-align: center;
}
